/* BUTTONS */
.btn {
  &,
  &:link,
  &:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.2rem 2.4rem;
    border-radius: 10rem;
    font-size: $default-font-size;
    font-weight: 600;
    display: inline-block;
    transition: all 0.2s;
    position: relative;

    // Change to button element
    border: none;
    cursor: pointer;
  }

  &:active {
    transform: translateY(-1px);
    box-shadow: 0 0.5rem 1rem rgba($color-black, 0.2);
  }

  &::after {
    content: ""; /* define new content on the go*/
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 10rem;

    position: absolute; /* position new content defined behind the original content */
    left: 0;
    top: 0;
    z-index: -1;
    transition: all 0.4s;
  }

  &--animated {
    animation: moveInBottom 1s ease-out 0.75s;
    animation-fill-mode: backwards;
  }

  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba($color-black, 0.2);

    &::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0;
    }
  }

  &--white {
    background-color: $color-white;
    color: $color-grey-dark;

    &::after {
      background-color: $color-white;
    }
  }
  &--green {
    background-color: $color-primary;
    color: $color-white;

    &::after {
      background-color: $color-primary;
    }
  }
}

.btn-text {
  &:link,
  &:visited {
    font-size: $default-font-size;
    text-decoration: none;
    display: inline-block;
    color: $color-primary;
    border-bottom: 1px solid $color-primary;
    padding-bottom: 3px;
    transition: all 0.5s;
  }

  &:hover {
    background-color: $color-primary;
    color: $color-white;
    padding: 0 3px;
    transform: translateY(-2px);
    box-shadow: 0 1rem 2rem rgba($color-black, 0.15);
  }

  &:active {
    transform: translateY(0);
    box-shadow: 0 0.5rem 1rem rgba($color-black, 0.15);
  }
}
