.composition {
  position: relative;

  &__photo {
    width: 55%;
    box-shadow: 0 1.5rem 4rem rgba($color-black, 0.4);
    position: absolute;
    transition: all 0.3s;
    z-index: 10;
    outline-offset: 2rem;

    @include respond(tab-port) {
      float: left;
      width: 33.33333%;
      position: relative;
      box-shadow: 0 1.5rem 3rem rgba($color-black, 0.2);
    }

    &--p1 {
      left: 0;
      top: -2rem;

      @include respond(tab-port) {
        top: 0;
        transform: scale(1.1);
        left: 0;
      }
    }

    &--p2 {
      right: 0;
      top: 2rem;

      @include respond(tab-port) {
        top: -1rem;
        transform: scale(1.2);
        z-index: 100;
      }
    }

    &--p3 {
      left: 20%;
      top: 10rem;

      @include respond(tab-port) {
        top: 0;
        transform: scale(1.1);
        left: 0;
      }
    }

    &:hover {
      z-index: 100;
      transform: scale(1.05), translateY(-0.5rem);
      outline: 1.5rem solid $color-primary;
      box-shadow: 0 2.5rem 4rem rgba($color-black, 0.4);

      @include respond(tab-port) {
        z-index: 1000;
        outline: 0.5rem solid $color-primary;
        box-shadow: 0 2.5rem 3rem rgba($color-black, 0.2);
      }
    }
  }

  &:hover &__photo:not(:hover) {
    transform: scale(0.95);
  }
  // .composition:hover composition__photo:not(:hover)
}
