body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: $color-grey-dark;
}

// HEADING PRIMARY
.heading-primary {
  color: $color-white;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 3.5rem;

  &--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;

    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-in;

    @include respond(phone) {
      font-size: 6rem;
      letter-spacing: 1rem;
    }
  }

  &--sub {
    display: block;
    font-size: 2rem;
    letter-spacing: 1.7rem;
    font-weight: 700;

    animation: moveInRight 1s ease-in-out;

    @include respond(phone) {
      letter-spacing: 0.5rem;
    }
  }
}

// HEADING SECONDARY
.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 600;
  background-image: linear-gradient(
    to right,
    $color-primary-light,
    $color-primary-dark
  );
  display: inline-block;
  color: $color-primary;
  color: transparent;
  transition: all 0.2s;

  @supports (background-clip: text) or (-webkit-background-clip: text) {
    -webkit-background-clip: text;
    background-clip: text;
  }

  @include respond(tab-port) {
    font-size: 2.5rem;
  }

  &:hover {
    transform: skewY(2deg) skewX(25deg);
    text-shadow: 0.5rem 1rem 2rem rgba($color-black, 0.2);
  }
}

// HEADING TERTIARY
.heading-tertiary {
  font-size: $default-font-size;
  font-weight: 700;
  text-transform: uppercase;
}

.paragraph {
  font-size: $default-font-size;

  &:not(:last-child) {
    margin-bottom: 3rem;
  }
}
