.u-text-center {
  text-align: center !important;
}

.u-text-left {
  text-align: left !important;
}

.u-text-right {
  text-align: right !important;
}

// MARGIN TOP
.u-margin-top-big {
  margin-top: 8rem !important;
}

.u-margin-top-medium {
  margin-top: 4rem !important;
}

.u-margin-top-small {
  margin-top: 1.5rem !important;
}

// MARGIN BOTTOM
.u-margin-bottom-big {
  margin-bottom: 8rem !important;

  @include respond(tab-port) {
    margin-bottom: 3rem !important;
  }
}

.u-margin-bottom-medium {
  margin-bottom: 4rem !important;

  @include respond(tab-port) {
    margin-bottom: 2rem !important;
  }
}

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important;
}

// MARGIN LEFT
