.footer {
  padding: 15rem 0;
  background-color: $color-grey-dark-3;
  color: $color-grey-light;

  &__logo-box {
    text-align: center;
    margin-bottom: 8rem;

    @include respond(tab-port) {
      margin-bottom: 4rem;
    }
  }

  &__logo {
    width: 15rem;
    height: auto;
  }

  &__navigation {
    border-top: 3px solid $color-grey-dark-2;
    padding-top: 3rem;
    display: inline-block;

    @include respond(tab-port) {
      padding-top: 1rem;
      width: 100%;
      text-align: center;
    }
  }

  &__list {
    list-style: none;
  }

  &__item {
    display: inline-block;

    &:not(:last-child) {
      margin-right: 1.3rem;
    }
  }

  &__link {
    &:link,
    &:visited {
      text-decoration: none;
      background-color: $color-grey-dark-3;
      color: $color-grey-light-2;
      text-transform: uppercase;
      display: inline-block;
      transition: all 0.2s;
      font-size: 1.3rem;
      font-family: inherit;
    }

    &:hover,
    &:active {
      color: $color-primary;
      box-shadow: 0 1rem 2rem rgba($color-black, 0.2);
      transform: rotate(7deg) scale(1.2);
    }
  }

  &__copyright {
    font-size: $default-font-size;
    border-top: 3px solid $color-grey-dark-2;
    padding-top: 3rem;
    width: 80%;
    float: right;
    text-align: left;

    @include respond(tab-port) {
      width: 100%;
      text-align: center;
      float: none;
    }
  }
}
